@import "tailwindcss";

:root {
  --background: #F6F1ED;
  --foreground: #1C1A03;
  --golden: #FCF5A5;
  --brown: #7F5A36;
  --black: #1C1A03;
  --white: #F6F1ED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-golden: var(--golden);
  --color-brown: var(--brown);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1A03;
    --foreground: #F6F1ED;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
